@import 'normalize.css';
@import 'flatpickr';

$font-family: Georgia, Times, Times New Roman, serif;
$yellow: #fff5aa;
$blue: #a2d4ff;
$pink: #fcc2ec;
$transition: all 0.2s ease-in-out;

@custom-media --mobile (max-width: 768px);

@keyframes flip {
	from {
		transform: scaleX(1);
	}

	to {
		transform: scaleX(-1);
	}
}

@keyframes pulse {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

:root {
	--loop {
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
	}

	--flip {
		animation-name: flip;
		animation-duration: 1.5s;
		@apply --loop;
	}

	--pulse {
		animation-name: pulse;
		animation-duration: 0.9s;
		@apply --loop;
	}
}

html,
input,
select {
	font-size: 1.25rem;
	font-family: $font-family;
	font-variant-ligatures: common-ligatures
							discretionary-ligatures
							historical-ligatures
							contextual;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
}

a[href="javascript:void(0)"] {
	text-decoration: none;
	outline: none;
}

.hidden {
	display: none;
}

body {
	background: color(black tint(5%));
	color: white;
	margin-bottom: 3rem;
}

input,
select {
	border: none;
	border-radius: 0.25rem;
	padding: 0 0.5rem;
	line-height: 1rem;
	height: 100%;
	max-width: 100%;
}

input[type=checkbox] {
	outline: 1px solid red;
	opacity: 0;

	&:hover + div::before {
		background: $blue;
	}

	& + div {
		position: absolute;
		left: 30%;
		pointer-events: none;
	}

	& + div::before, & + div::after {
		content: "";
		display: inline-block;
		position: absolute;
		transition: $transition;
	}

	& + div::before {
		width: 1.5rem;
		height: 1.5rem;
		border: 2px solid white;
		border-radius: 0.25rem;
	}

	& + div::after {
		opacity: 0;
		height: 0.45rem;
		width: 1rem;
		left: 0.25rem;
		top: -0.45rem;
		border-left: 2px solid;
		border-bottom: 2px solid;

		transform: rotate(-45deg);
	}

	&:checked + div::after {
		opacity: 1;
	}
}

#title {
	text-decoration: none;
	transition: $transition;

	&:hover {
		color: color($pink blend($blue 20%));
	}

	& h1 {
		text-align: center;
		font-size: 20vw;
		font-style: italic;
		margin: 1rem;
		color: $pink;
		letter-spacing: 0.5rem;
	}
}

#app_container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 800px;
}

fieldset {
	min-width: 0;
	border-color: $yellow;
	border-radius: 1rem;

	& + fieldset {
		margin-top: 5rem;
	}

	& legend {
		font-size: 1.5rem;
		font-style: italic;
		letter-spacing: 0.25rem;
		color: $yellow;
		margin: 0 1rem 0.5rem;
		padding: 0 0.25rem;
	}

	& div {
		display: grid;
		position: relative;
		align-items: center;
		grid-template-columns: 30% 70%;

		font-size: 1.25rem;

		margin: 1rem 0;

		& label {
			text-align: right;
		}

		& * {
			margin: 0.5rem 1rem;
		}
	}

	& button {
		display: block;

		min-width: 20%;
		margin-left: auto;
		padding: 0.5rem;

		font-family: $font-family;
		font-weight: bold;
		font-style: italic;
		font-size: 2rem;

		border-radius: 1rem;
		border: 2px solid white;
		background: $blue;
		color: white;

		transition: $transition;

		appearance: none;

		&:hover {
			background: $pink;
		}
	}
}

#chart {
	margin: 1rem auto;
	font-size: 1.5rem;

	@media (--mobile) {
		font-size: 1rem;
	}

	max-width: 700px;

	display: grid;
	grid-template-columns:
		[planet-symbol] 5rem
		[planet] 1fr
		[retrograde] 2rem
		[sign] 1fr
		[sign-symbol] 5rem;
	grid-column-gap: 1rem;
	grid-row-gap: 0.5rem;
	align-items: center;

	@media (--mobile) {
		grid-template-columns:
			[planet-symbol] 2rem
			[planet] 1fr
			[retrograde] 1rem
			[sign] 1fr
			[sign-symbol] 2rem;
		grid-row-gap: 1rem;
	}

	& a {
		display: grid;
		grid-template-columns: inherit;
		grid-column: 1 / -1;
	}

	& .placement {
		display: grid;
		grid-template-columns: inherit;
		grid-column: 1 / -1;
		align-items: center;

		&.selected {
			font-style: italic;
		}

		& *:before {
			content: attr(text);
			position: absolute;
			z-index: -1;
			text-shadow: 0px 0px 7px white;
			transition: $transition;
		}

		&:not(.selected):not(:hover) {
			& *:before {
				opacity: 0;
			}
		}

		&.selected {
			& *:before {
				@apply --pulse;
			}
		}
	}

	& .planet {
		grid-column: planet;
		text-align: right;
	}

	& .sign {
		grid-column: sign;
	}

	& .retrograde,
	& .planet-symbol,
	& .sign-symbol {
		font-style: normal;
		font-size: 1rem;
	}

	& .retrograde {
		grid-column: retrograde;
		text-align: center;
		@apply --flip;
	}

	& .planet-symbol {
		grid-column: planet-symbol;
		text-align: right;
	}

	& .sign-symbol {
		grid-column: sign-symbol;
		text-align: left;
	}
}

#placement {
	text-align: center;

	display: grid;
	grid-template-columns: 1fr 3rem 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 0.5rem;
	align-items: center;

	& .title {
		font-size: 1.5rem;
		margin: 3rem 1rem 0.5rem;
		grid-column: 1 / -1;
	}

	& .retrograde {
		grid-column: 1 / -1;

		&::before {
			content: '℞';
			font-size: 1.1rem;
			display: inline-block;
			@apply --flip;
		}
	}

	& .element-row,
	& .modality-row {
		display: grid;
		grid-template-columns: inherit;
		grid-column: 1 / -1;
		align-items: center;

		& .element-title,
		& .modality-title {
			text-align: right;
		}

		& .element,
		& .modality {
			text-align: left;
		}
	}
}

.earth {
	color: $yellow;
}

.water {
	color: $blue;
}

.air {
	color: color($pink blend($blue 20%));
}

.fire {
	color: color($pink blend($yellow 40%) whiteness(-20%));
}
